{include file='public/header' /}
<script type="text/javascript" charset="utf-8" src="/static/admin/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/admin/ueditor/ueditor.all.js"> </script>
<script type="text/javascript" charset="utf-8" src="/static/admin/ueditor/lang/zh-cn/zh-cn.js"></script>

    <div  style="padding-top: 20px;">
          <div class="layui-form-item">
              <label for="title" class="layui-form-label">
                  <span class="x-red">*</span>新闻标题
              </label>
              <div class="layui-input-block">
                  <input type="text" id="title" value="" class="layui-input">
              </div>
          </div>

        <div >
            <label for="title" class="layui-form-label">
                <span class="x-red">*</span>新闻信息
            </label>
            <div class="layui-input-inline">
                <script id="editor" type="text/plain"></script>
            </div>
        </div>

          <div class="layui-form-item">
              <label for="repass" class="layui-form-label"></label>
              <button  class="layui-btn"  id="addnews" >
                  提交
              </button>
          </div>
    </div>
    <script>

        //实例化编辑器
        var ue = UE.getEditor('editor',{initialFrameWidth:'80%',initialFrameHeight:400,});

        $('#addnews').click(function(){
              var editors = ue.getContentTxt('editor');
              var title = $.trim($('#title').val());


             if(title == '' || title  == undefined){
                 layer.msg('请输入标题');
                 return false;
             }
             var urls = "{:url('news/add')}";

             $.post(urls,{'title':title,'content':editors},function(ret){
                    if(ret.code == 200){
                        layer.msg(ret.msg,{icon:6});
                        window.location.href= "{:url('news/index')}";
                    }

                 if(ret.code == 400){
                     layer.msg(ret.msg,{icon:5});
                     window.location.reload();
                 }

             },'json');

        })
    </script>
  </body>

</html>