{include file='common/header' /}
<script src="/static/home/js/jquery.min.js"></script>
<script src="/static/home/js/ft-carousel.min.js"></script>
<style>
    .imgs2{
        display:none;
    }

    .imgs3{
        display:none;
    }
    .imgs4{
        display:none;
    }
    .imgs5{
        display:none;
    }

</style>

<div class="content">
	<div class="cont01">
    	<div class="gongg">
        	<h1><span>通知公告</span><a href="#" target="_blank">&gt;&gt;更多</a></h1>
            <div class="gongg-cen">
            	<ul>
                    {volist name='gao' id='go'}
                	<li><a href="{:url('index/ginfos')}?mid={$go.id}" target="_blank">{$go.title}</a></li>
                    {/volist}
                </ul>
            </div>
        </div>
        <div class="news">
        	<div class="news-l"><img src="/static/home/images/news.jpg" /></div>
            <div class="news-r">
            	<div class="news-r-list">
                	<ul>
                        {volist name='news' id='no'}
                        <li><a href="{:url('index/info')}?mid={$no.id}" target="_blank">{$no.title}</a>
                            <span>{$no.create_time|date="Y-m-d",###}</span>
                        </li>
                        {/volist}
                    </ul>
                </div>

                <div class="hdp">
                    <ul class="carousel-inner">
                        {foreach name="banner" item="vo" key="k" }
                        <li  class="lun imgs{$k+1}"><img src="{$vo.imgs}" style="width: 310px;height:210px;" /></li>
                        {/foreach}
                    </ul>
                </div>

                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="cont02">
    	<div class="cont02-l">
        	<div class="zxly"><a href="#" target="_blank"><img src="/static/home/images/zx_03.jpg" /></a></div>
            <div class="zxly"><a href="#" target="_blank"><img src="/static/home/images/zx_06.jpg" /></a></div>
            <div class="qyzz">
        		<h1><span>通知公告</span><a href="#" target="_blank">&gt;&gt;更多</a></h1>
                <div class="qyzz-cen"><img src="/static/home/images/tp001.jpg" /></div>
            </div>
        </div>
        <div class="about">
        	<h1><span>公司简介</span></h1>
            <div class="about-cen">
            	<img src="/static/home/images/tp002.jpg" width="187" height="150" />
                <div class="about-cen-r">
                	<p>{$company.texts|default=''}</p>
                </div>
            </div>
            <div class="gg"><img src="/static/home/images/gg002.jpg" /></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="cont03">
    	<div class="cont03-l">
        	<h1>友情链接</h1>
            <div class="cont03-l-cen">
            	<dl>
                	<dd><img src="/static/home/images/yqlj_09.jpg" width="191" height="40" /></dd>
                    <dd><img src="/static/home/images/yqlj_12.jpg" /></dd>
                    <dd><img src="/static/home/images/yqlj_14.jpg" /></dd>
                    <dt><select name="">
                      <option>====友情链接====</option>
                  </select></dt>
                </dl>
            </div>
        </div>
        <div class="cont03-r">
        	<h1><img src="/static/home/images/yx.jpg" /></h1>
            <div class="cont03-r-cen">
            	<div class="jingy">
                	<h1><span style="background:url(/static/home/images/001.jpg) no-repeat;">经营范围</span><a href="#" target="_blank" style="color:#40b2d6">&gt;&gt;更多</a></h1>
                    <div class="jingy-cen" style="border:1px solid #1fa2cc">
                    	<img src="/static/home/images/tp003.jpg" width="81" height="69" />
                        <div class="jingy-cen-c">
                        	<p>经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营经营范围</p>
                        </div>
                    </div>
                </div>
                <div class="jingy">
                	<h1><span style="background:url(/static/home/images/002.jpg) no-repeat;">经营范围</span><a href="#" target="_blank" style="color:#91d53d">&gt;&gt;更多</a></h1>
                    <div class="jingy-cen" style="border:1px solid #91d53d">
                    	<img src="/static/home/images/tp003.jpg" width="81" height="69" />
                        <div class="jingy-cen-c">
                        	<p>经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营经营范围</p>
                        </div>
                    </div>
                </div>
                <div class="jingy">
                	<h1><span style="background:url(/static/home/images/003.jpg) no-repeat;">经营范围</span><a href="#" target="_blank" style="color:#cc6245">&gt;&gt;更多</a></h1>
                    <div class="jingy-cen" style="border:1px solid #cc6245">
                    	<img src="/static/home/images/tp003.jpg" width="81" height="69" />
                        <div class="jingy-cen-c">
                        	<p>经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营经营范围</p>
                        </div>
                    </div>
                </div>
                <div class="jingy">
                	<h1><span style="background:url(/static/home/images/004.jpg) no-repeat;">经营范围</span><a href="#" target="_blank" style="color:#e58b05">&gt;&gt;更多</a></h1>
                    <div class="jingy-cen" style="border:1px solid #e58b05">
                    	<img src="/static/home/images/tp003.jpg" width="81" height="69" />
                        <div class="jingy-cen-c">
                        	<p>经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营范围经营经营范围</p>
                        </div>
                    </div>
                </div>
                
                <div class="clear"></div>
            </div>
        </div><div class="clear"></div>
    </div>
    <div class="cont04">
    	<h1><img src="/static/home/images/qywh.jpg" /></h1>
        <div class="cont04-cen">
        	<div class="cont03-cen">
              {volist name="wen" id='wo'}
        	<dl>
            	<dt><a href="{:url('index/yes')}?mid={$vo.id}" >
                    <img src="{$wo.imgs|default='/static/home/images/tp002.jpg'}" width="168" height="129" /></a></dt>
                <dd><a href="{:url('index/yes')}?mid={$vo.id}" >{$wo.title}</a></dd>
            </dl>
         {/volist}
        <div class="clear"></div>
        </div>
        </div>
    </div>
</div>

<script>
    var i =0;
    setInterval(function(){
        var a = $('.lun').length;
         $(a).each(function(index,item){
             i++;
             if(i>item) {
                 i =1;
             }
             $('.imgs'+i).show();
             $('.imgs'+i).siblings().hide();
         })
    },1500)
</script>

{include file='common/foot' /}
