{include file='common/header' /}

<div class="content">
    <div class="xxy">
        <div class="xxy-l">
            <h1>新闻中心</h1>
            <div class="xxy-l-cen">
                <ul>
                    <li><a href="{:url('indx/news')}" target="_blank">公司新闻</a></li>
                </ul>
            </div>
        </div>
        <div class="xxy-r">
            <div class="xxy-r-cen">
                <div class="cont02-r-lcen001"></div>
            </div>
            <h1 style="text-align: center;color: #1fa2cc">这是一个新闻标题</h1>
        </div>
        <div class="clear"></div>
    </div>
    <div class="xxy-d"><img src="/static/home/images/xxy_d.jpg" /></div>




</div><div class="clear"></div>

{include file='common/foot' /}
